CompileFlags:
  Add:
  - -DCHEGORYU
  - -Wall
  - -Wextra

Diagnostics:
  ClangTidy:
    Add:
    - bugprone-*
    - performance-implicit-conversion-in-loop
    - readability-identifier-naming
    Remove:
    - bugprone-narrowing-conversions

    CheckOptions:
      # Do not tide public begin, end, etc methods to workaround clang-tidy bug in range-based for loops.
      readability-identifier-naming.PublicMethodIgnoredRegexp: "(begin|end|empty|size|front|back)"

      readability-identifier-naming.FunctionCase: CamelCase

      readability-identifier-naming.MacroDefinitionCase: UPPER_CASE

      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.ClassMethodCase: CamelCase

      readability-identifier-naming.PrivateMemberCase: CamelCase
      readability-identifier-naming.PrivateMemberSuffix: _
      readability-identifier-naming.ProtectedMemberCase: CamelCase
      readability-identifier-naming.ProtectedMemberSuffix: _
      readability-identifier-naming.PublicMemberCase: CamelCase

---
If:
  PathExclude: .*\.c
CompileFlags:
  Add:
  - -std=c++20

---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
  - -std=c2x
